---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
      Hey there, I'm Charlie, a third-year undergraduate at the University of Chicago
      studying computer science and economics. I currently aspire to work as a software engineer,
      product manager, or researcher somewhere at the cutting edge of technology;
      however, one day I would love to start my own (bio?)tech company.
    </p>

    <p>
      I'm interested in a breadth of topics: computer science, mathematics,
      physics, literature, neuroscience, and philosophy to name a few. I'm
      passionate learner and love it for its own sake.
    </p>

    <p>
      I like to spend my free time doing new things with friends,
      learning new technologies, cooking, over-engineering my coffee brewing process,
      reading, and listening to podcasts.
    </p>

    <p>
      I have experience interning as a software engineer, research assistant, and
      venture capital analyst—check out my <a class="underline" href="https://linkedin.com/in/charlie-sabino/">LinkedIn</a>
      or (possibly out of date) <a class="underline" href="https://drive.google.com/file/d/1a0DJabSjTMsOyMQMLvdmX4kmvuzx8bt2/view?usp=sharing">resume</a>
      for more details.
		</p>
	</div>
</PageLayout>
