---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Links",
	description: "Links to my favorite books, podcasts, gear, tech, and more.",
};
---

<PageLayout meta={meta}>
	  <style>
        a {
            text-decoration: underline;
        }
    </style>

  <div class="space-y-6">
		<h1 class="title">Links</h1>
		<p>My favorite books, podcasts, videos, articles, websites, and gear.</p>

		<h2 class="text-xl font-bold">Books</h2>

		<p>
			Check out my <a href="https://www.goodreads.com/user/show/106199148-charlie-sabino"
				>Goodreads</a
			> for a full list and ratings.
		</p>

		<h2 class="text-xl font-bold">Nonfiction</h2>

		<h4 class="text-lg font-bold">History, Biographies, and Memoirs</h4>
		<ul class="list-inside list-disc">
			<li>
				<a href="https://www.goodreads.com/book/show/37976541-bad-blood"
					>Bad Blood by John Carreyou</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/11084145-steve-jobs"
					>Steve Jobs by Walter Isaacson</a
				>
			</li>
			<li>
				<a
					href="https://www.goodreads.com/book/show/122765395-elon-musk?ac=1&fromsearch=true&qid=UCx2sJrHj4&rank=1"
					>Elon Musk by Walter Isaacson</a
				>
			</li>
			<li>
				<a
					href="https://www.goodreads.com/book/show/27220736-shoe-dog?ac=1&fromsearch=true&qid=gc3pnsktYm&rank=1"
					>Shoe Dog by Phil Knight</a
				>
			</li>
		</ul>

		<h4 class="text-lg font-bold">Science</h4>
		<ul class="list-inside list-disc">
			<li>
				<a
					href="https://www.goodreads.com/book/show/25734172-seven-brief-lessons-on-physics?ac=1&fromsearch=true&qid=hyd7d9RrsA&rank=1"
					>Seven Brief Lessons on Physics by Carlo Rovelli</a
				>
				<ul class="list-inside list-disc pl-5">
					<li>
						A poetic and philosophical discussion of physics, the universe, and the human condition.
					</li>
				</ul>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/34466963-why-we-sleep"
					>Why We Sleep by Matthew Walker</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/37534452-the-circadian-code"
					>The Circadian Code by Satchin Panda</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/48890486-breath">Breath by James Nestor</a>
			</li>
		</ul>

		<h4 class="text-lg font-bold">Philosophy</h4>
		<ul class="list-inside list-disc">
			<li>
				<a href="https://www.goodreads.com/book/show/1168191.Meditations?ref=navsbss119"
					>Meditations by Marcus Aurelius</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/55148500-the-almanack-of-naval-ravikant"
					>The Almanack of Naval Ravikant by Eric Jorgenson</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/52036.Siddhartha?ref=navsbss111"
					>Siddhartha by Herman Hesse</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/157993.TheLittlePrince"
					>The Little Prince by Antoine de Saint-Exupéry</a
				>
			</li>
		</ul>

		<h4 class="text-lg font-bold">Self-Help</h4>
		<ul class="list-inside list-disc">
			<li>
				<a href="https://www.goodreads.com/book/show/40121378-atomic-habits"
					>Atomic Habits by James Clear</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/25744928-deep-work">Deep Work by Cal Newport</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/54785515-four-thousand-weeks"
					>Four Thousand Weeks by Oliver Burkeman</a
				>
			</li>
		</ul>

		<h2 class="text-xl font-bold">Genre Fiction</h2>

		<p>"Read what you love until you love to read" — Naval</p>

		<p>
			Sure, genre fiction might not be the most intellectually nourishing material, but it helped me
			get into reading, and for that I am forever grateful. In fact, the first book I remember
			reading is Harry Potter during my first year at the University of Chicago. Below are some
			titles that helped me create a reading habit.
		</p>

		<h4 class="text-lg font-bold">Science Fiction</h4>
		<ul class="list-inside list-disc">
			<li>
				<a href="https://www.goodreads.com/book/show/18007564-the-martian"
					>The Martian by Andy Weir</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/54493401-project-hail-mary"
					>Project Hail Mary by Andy Weir</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/series/189931-remembrance-of-earth-s-past"
					>Remembrance of Earth's Past by Cixin Liu</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/book/show/42046112-recursion"
					>Recursion by Blake Crouch</a
				>
			</li>
		</ul>

		<h4 class="text-lg font-bold">Fantasy</h4>
		<ul class="list-inside list-disc">
			<li>
				<a href="https://www.goodreads.com/series/49075-the-stormlight-archive"
					>The Stormlight Archive by Brandon Sanderson</a
				>
			</li>
			<li>
				<a href="https://www.goodreads.com/series/45262-the-kingkiller-chronicle"
					>The Kingkiller Chronicles by Patrick Rothfuss</a
				>
			</li>
		</ul>

		<h2 class="text-xl font-bold">Podcasts</h2>
		<ul class="list-inside list-disc">
			<li><a href="https://lexfridman.com/podcast/">Lex Fridman Podcast</a></li>
			<li><a href="https://hubermanlab.com/">Huberman Lab</a></li>
			<li><a href="https://corecursive.com/">CoRecursive</a></li>
			<li><a href="https://www.httotw.com/">How To Take Over the World</a></li>
			<!--<li><a href="https://adspthepodcast.com/">ADSP</a></li>-->
			<li><a href="https://soundcloud.com/lambda-cast">LambdaCast</a></li>
			<li><a href="https://aliabdaal.com/podcast/">Deep Dive with Ali Abdaal</a></li>
		</ul>

    <h2 class="text-xl font-bold">Gear</h2>

    <h2 class="text-xl font-bold">Everyday Carry</h2>
    <ul class="list-inside list-disc">
        <li><a href="https://www.aersf.com/city-pack-pro-black">Aer City Pack Pro</a></li>
        <li><a href="https://amzn.to/3RUCEeS">Moft MagSafe Wallet</a>
            <ul class="list-inside list-disc pl-5">
                <li>Game changer. I've gifted it to three people who all love it as well.</li>
            </ul>
        </li>
        <li><a href="https://amzn.to/3xkVemT">AirPods Pro Gen 2</a>
            <ul class="list-inside list-disc pl-5">
                <li>A significant upgrade from the first generation.</li>
            </ul>
        </li>
        <li><a href="https://amzn.to/3RYzRB6">Kindle Paperwhite</a>
            <ul class="list-inside list-disc pl-5">
                <li>I tend to prefer physical books for denser reads, but a Kindle is a life changing
                nonetheless. You will likely read more with a dedicated device than you will using the app.</li>
            </ul>
        </li>
        <li><a href="https://nomadgoods.com/products/modern-leather-case-horween-black-iphone-14-pro-max">Nomad iPhone Case</a></li>
        <li><a href="https://nomadgoods.com/products/universal-usb-c-kevlar-cable-0-3m">Nomad Universal Cable</a></li>
    </ul>

    <h2 class="text-xl font-bold">Coffee</h2>
    <ul class="list-inside list-disc">
        <li><a href="https://www.option-o.com/shop/lagom-mini">Option-O Lagom Mini w/ Moonshine Burrs</a>
            <ul class="list-inside list-disc pl-5">
                <li>Compact, does it all, aesthetic—what's not to love?</li>
            </ul>
        </li>
        <li><a href="https://amzn.to/3ivUBmH">Fellow Stagg Kettle</a></li>
        <li><a href="https://amzn.to/3VYqz8U">Hario Switch</a></li>
        <li><a href="https://amzn.to/3X3MzjW">Aeropress</a></li>
        <li><a href="https://amzn.to/3vQPiBh">Fellow Stagg Tasting Glasses</a></li>
        <li><a href="https://weberworkshops.com/products/bean-cellar-glass">Weber Bean Cellar</a></li>
        <li><a href="https://www.drinktrade.com/">Trade Coffee</a></li>
        <li><a href="https://onyxcoffeelab.com/">Onyx Coffee Lab</a></li>
    </ul>

    <h2 class="text-xl font-bold">Kitchen</h2>
    <ul class="list-inside list-disc">
        <li><a href="https://amzn.to/3ljCTnq">Breville Joule Sous Vide</a></li>
        <li><a href="https://stargazercastiron.com/products/12-inch-skillet">Stargazer Cast Iron Skillet</a></li>
    </ul>
	</div>
</PageLayout>
